<div class="navbar fp">
  <div class="navbar-inner">
    <div class="container menu">

      <%= render 'shared/logo' %>

      <ul class="nav">
        <li class="divider-vertical"></li>
        <%= render 'shared/vendor_dropdown' %>
        <%= render 'shared/city_dropdown' %>
      </ul>

    </div>
  </div>
</div>