<div class="navbar navbar-fixed-top fp">
  <div class="navbar-inner">
    <div class="container menu">

      <%= render 'shared/logo' %>

      <ul class="nav">
        <li class="divider-vertical"></li>
        <%= render 'shared/vendor_dropdown' %>
      </ul>

      <ul class="nav pull-right">
        <%= render 'shared/city_dropdown' %>
      </ul>

    </div>
  </div>
</div>