<li class="dropdown active" id="menu1">
  <a class="dropdown-toggle" data-toggle="dropdown" >
    <%= current_vendor %>
    <b class="caret"></b>
  </a>

  <ul class="dropdown-menu">

    <% unless current_page?(root_path) %>
    <li class="all-vendors"><%= link_to "Όλα τα καταστήματα", root_path %></li>
    <% end %>

    <% all_vendors.each do |vendor| %>
      <li><%= link_to vendor.name, vendor %></li>
    <% end %>

  </ul>
</li>