<li class="dropdown active vendor" id="menu1">
  <a class="dropdown-toggle" data-toggle="dropdown" >
    <%= current_vendor_name %>
    <b class="caret"></b>
  </a>

  <ul class="dropdown-menu">
    <% if params[:controller] == 'vendors' %>
    <li><%= link_to "Όλα τα Super Market", city_path(stored_city) %></li>
    <% end %>
    <% all_vendors.each do |vendor| %>
      <% unless vendor.name == current_vendor_name %>
        <li><%= link_to vendor.name, vendor %></li>
      <% end %>
    <% end %>
  </ul>
</li>