<div class="row-fluid">
  <div class="span12">
    <div class="alert alert-success">
      <a class="close" data-dismiss="alert">×</a>
      <strong>Γειά σου!</strong> Ξεκίνα επιλέγοντας την πόλη σου
      <i class="icon-arrow-up"></i>
    </div>
  </div>
</div>