Vendor Name: <strong><%= @vendor.name %></strong><br />
Vendor Username: <strong><%= @vendor.username %></strong>

<h3>Offers</h3>
<ol>
<% @offers.each do |offer| %>
<li><%= offer.title %></li>
<li><%= offer.price %></li>
<br />
<% end %>
</ol>