<div class="span3" id="more-offers">
  <div class="row-fluid">
    <div class="span12">
    <h4>Περισσοτερες προσφορες</h4>
  </div>
  </div>

  <% @more_from_vendor.each do |offer| %>
  <div class="row-fluid">
    <div class="span12 side-offer">
      <div class="inner">
        <%= image_tag offer.image.url :thumb %>
        <h5><%= offer.title %></h5>
      </div>
    </div>
  </div>
  <% end %>
</div>


