<div class="span3">
  <div class="offer">
    <div class="inner">
      <div class="image"><%= image_tag offer.image.url :thumb %></div>
      <span class="title"><%= offer.title %></span>
    </div>
  </a>
  </div>
</div>