<% render 'offers/sortby_links' %>
<% render 'offers/breadcrumbs' %>

<% offers.each_slice(4) do |offers_for_row| %>
  <div class="row-fluid row-offers">
    <%= render partial: 'offers/offer', collection: offers_for_row, as: :offer %>
  </div>
<% end %>

<% if controller_name == 'cities' && !params[:c] %>
<div class="row-fluid row-offers">
  <div class="span12" style="text-align:center">
    <button class="btn btn-large" type="submit">
      Εμφάνιση περισσότερων
    </button>
  </div>
</div>

<%= will_paginate offers %>
<% end %>

