<%= render 'offers/sortby_links' %>
<% render 'offers/breadcrumbs' %>

<% offers.each_slice(4) do |offers_for_row| %>
  <div class="row-fluid row-offers">
    <%= render partial: 'offers/offer', collection: offers_for_row, as: :offer %>
  </div>
<% end %>