<% provide :title, "Όλες οι προσφορές" %>
<% content_for :latest_item, " active" %>
<% content_for :sidebar, 'shared/categories' %>

<%= render 'sortby_links' %>

<%= render 'offers' %>

<div class="row-fluid">
<%= will_paginate %>
</div>