<ul class="nav nav-pills nav-stacked">
  <li <%= raw 'class="active"' unless params[:c] %>>
    <%= link_to "Όλες οι κατηγορίες", @city %>
  </li>

  <% city_categories.each do |category| %>
  <li <%= raw 'class="active"' if active_category?(category) %>>
    <%= link_to category.title, @city.name + "?c=" + category.id.to_s %>
  </li>
  <% end %>

</ul>