/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

/*.btn {
  .btn-large;
  .btn-primary;
}*/


$blueDarker: #182945;
$blueDark: #1D3257;
$normalBlue: #1E3458;
$borderLightGrey: #DADBE4;

$navbarBackground: $blueDarker;
$navbarBackgroundHighlight: $blueDark;
$navbarLinkColor: #ccc;
$navbarLinkColorHover: white;

@import "bootstrap";
@import "bootstrap-responsive";

body {
  background: #EAEDF6;
  font-family: Helvetica, Arial, sans-serif;
}

.navbar {
  margin-bottom: 30px;

  img {
    float: left;
    padding-top: 4px;
    margin-right: 30px;
  }

  .vendor {
    font-size: 15px;
    margin-left: 15px;
    a.dropdown-toggle { color: #ccc; }
  }

  .city {
    font-size: 19px;
  }

  .navbar-inner {
    border-radius: 0;
    height: 80px;
    background-image: url(navbar-bg.png);
    .menu { padding-top: 20px;  }
    .arrow {
      background: url(../assets/dropdown-arrow.png) no-repeat;
      width: 8px;
      height: 5px;
      display: inline;
      text-indent: -9999px;
    }
  }

  .nav .active > a { @include border-radius() }
  .navbar .nav .active > a:hover { background: #0F1B2F; }
  .nav > li > a { margin-left: 20px; }
  .dropdown-menu { left: 28px; font-size:15px; }
}




.offersnav {
  font-size: 15px;
  font-weight: bold;

  .link { margin-bottom: 10px; margin-left: 0px; }
  .active a { color: $normalBlue; }
  a { color: #999;}
  a:hover { color: #666; text-decoration:none; }

  .span12 {
  border-bottom: 1px solid $borderLightGrey;
  margin-bottom: 13px;
  }
}

.offer {
  width: 170px;
  height: 190px;
  background: white;
  margin-bottom: 30px;
}

.offer-inner {
  padding:9px;
  max-height: 174px;
  height: 174px;
}

.caret {
  border: none;
  width: 8px;
  height: 5px;
  background: url(../assets/dropdown-arrow.png) no-repeat;
  padding-top: 1px;
}